body {
  font: 16px/1.5 verdana, helvetica-neue, helvetica, arial, san-serif;
  background: black;
  /* background-image: url(../media/duckiebot-side.jpg);  */
 
  background-color: #ffd700;
  /*  color: #ececec; */
  color:  #ffd700;
  padding: 0;
  margin: 0;
}
